.contents {
  width: 100vw;
  height: 100vh;
}

.input-box {
  display: flex;
  margin: auto;
  width: 500px;
  height: 300px;
  font-size: 24px;
}
.input-box span {
  margin: 0px;
}

.input-box form {
  display: flex;
  flex-direction: column;
}

.input-box input {
  margin: 5px;
  height: 24px;
}

.grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-content: center;
}
.cell {
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 100px;
  height: 100px;
  text-align: center;
}

.placed {
  background-color: red;
}
.active {
  background-color: blue;
}
